*{      margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Athiti:wght@200&family=Pacifico&family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Athiti:wght@200&family=PT+Sans+Narrow&family=Pacifico&family=Rajdhani:wght@300&display=swap');

.gridsinicio {  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 200px 1100px 150px 400px 150px 400px 100px 250px; 
  gap: 10px 10px; 
  grid-template-areas: 
    "header"
    "hero"
    "tit1"
    "fotos1"
    "tit2"
    "fotos2"
    "space"
    "footer";
  width: 100%;
  height: 100%;
  border: 2px;
}


.gridstutoriales {
display: grid; 
grid-auto-columns: 1fr; 
grid-template-columns: 2fr 2fr; 
grid-template-rows: 200px 100px 400px 400px 400px 100px 250px; 
gap: 10px 10px; 
grid-template-areas: 
  "header1 header1"
  "space1 space1"
  "video1 text1"
  "text2 video2"
  "video3 text3"
  "space2 space2"
  "footer1 footer1"; 
}




a{
text-decoration: none;
color: white;
font-size: 22px;
text-transform: uppercase;
font-family: 'Abel', sans-serif;
}


ul{
display: flex;
}

li{
list-style: none;
margin: 1rem;
padding: 0.5rem;
}

nav a:hover{
color: #000
}



body{
  background: white;
}

.hero { grid-area: hero;
background-image: url(Imagenes/GIGI\ FONDO.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover; }

.header { grid-area: header;
display: flex;
flex-direction: row;
justify-content: left;
align-items: center;
background-color: pink;
}

.tit1 { grid-area: tit1;
text-align: center;
font-family: 'PT Sans Narrow', sans-serif;
font-size: 28px;
text-transform: uppercase;
color: pink;
display: flex;
align-items: center;
justify-content: center;
}

.fotos1 { grid-area: fotos1;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  padding: 5%;
  margin-right: 2%;
  

 }

.fotos2 { grid-area: fotos2;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  }



.tit2 { grid-area: tit2;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.space{ grid-area: space;}

.footer { grid-area: footer; 
background-color: pink;
}
footer form{
text-align: left;
margin-left: 25px;
font-size: 25px;
}
.footer img{
display: flex;
flex-direction: column;
justify-content: right;
align-items: right;
}

.footer h2{
text-align: left;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px;
  color: white;
  
}

#fotos1{
transition: all 300ms;
position: relative;
}

#fotos1 img:hover{
transform: scale(1.15);
}

#fotos2{
  transition: all 300ms;
  }
  
  #fotos2 img:hover{
  transform: scale(1.15);
  }




.header1{
grid-area: header1;
display: flex;
flex-direction: row;
justify-content: left;
align-items: center;
background-color: pink; }




.space2 { grid-area: space2; }

.space1 { grid-area: space1; 
text-align: center;
font-family: 'PT Sans Narrow', sans-serif;
font-size: 28px;
text-transform: uppercase;
color: pink;
display: flex;
align-items: center;
justify-content: center;}

.video1 { grid-area: video1;
display: flex;
justify-content: center;
padding-left: 5%;
background-size: cover
}

.video2 { grid-area: video2;
display: flex;
justify-content: center;
padding-right: 5%;
background-size: cover; }

.video3 { grid-area: video3;
display: flex;
justify-content: center;
padding-left: 5%;
background-size: cover
}

.text1 { grid-area: text1;
text-align: justify;
font-family: 'PT Sans Narrow', sans-serif;
font-size: 25px;
color: black;
justify-content: center;
margin: 10%;
line-height : 1.5;
}

.text2 { grid-area: text2;  
text-align: justify;
font-family: 'PT Sans Narrow', sans-serif;
font-size: 25px;
color: black;
justify-content: center;
margin: 10%;
line-height : 1.5;}

.text3 { grid-area: text3; 
text-align: justify;
font-family: 'PT Sans Narrow', sans-serif;
font-size: 25px;
color: black;
justify-content: center;
margin: 10%;
line-height : 1.5;
}

.footer1 { grid-area: footer1; 
background-color: pink;
}

#videos{
  transition: all 300ms;
  position: relative;
  }
  
  #videos iframe:hover{
  transform: scale(1.15);
  }

.footer1 h2{
  text-align: left;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 23px;
    color: white;
    }
.enviar{
  font-size: 20px;
  color: palevioletred;
}
.letraform{
  color: white;
  font-size: 20px;
}

.redes{
display: flex;
justify-content: right;
}



.grids-productos {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 150px 400px 150px 400px 150px 400px 150px 800px 100px 250px;
  grid-auto-columns: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "titulo-labiales"
    "labiales"
    "titulo-paletas"
    "paletas"
    "titulo-mascaras"
    "mascaras"
    "titulo-bases"
    "bases"
    "space"
    "footer";
}



.titulo-labiales { grid-area: titulo-labiales;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center; }

.labiales { grid-area: labiales;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: center; }

  .labiales img{
    padding: 1%;
  margin-right: 2%
  }

.titulo-paletas { grid-area: titulo-paletas;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center; }


.paletas { grid-area: paletas;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  
   }
.paletas img{
  padding: 1%;
  margin-right: 2%;
  
}
.titulo-mascaras { grid-area: titulo-mascaras;text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center; }

.mascaras { grid-area: mascaras;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: center; }

  .mascaras img{
    padding: 1%;
  margin: 2%;
  }

.titulo-bases { grid-area: titulo-bases; 
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center; }

.bases { grid-area: bases;
  display: flex;
  flex-flow: wrap row;
 align-items: center;
  align-content: space-around;
  justify-content: center;
   }

.bases img{
  padding: 1%;

}
.space { grid-area: space; }

#fotos3{
  transition: all 300ms;
  position: relative;
  }
  
  #fotos3 img:hover{
  transform: scale(1.15);
  }

  .grids-contacto {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 200px 50px 100px 400px 150px 300px; 
    gap: 10px 10px; 
    grid-template-areas: 
      "header"
      "space"
      "titulo-contacto"
      "contacto"
      "espacio-contacto"
      "footer"; 
  }
  
  .header { grid-area: header; }

  .titulo-contacto{
    grid-area: titulo-contacto;
    text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .space { grid-area: space; }
  
  .contacto { grid-area: contacto; }

  .contacto img{
    float: right;
    margin-right: 10%; 
  }

  .contacto p{
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: black;
    margin-left: 2%;
  }
   .contacto h2{
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    color: pink;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2%;
   }

   .enviar1{
    font-size: 15px;
    color: palevioletred;
  }

   .contacto form{
    color: palevioletred;
    font-size: 20px;
    margin-left: 2%;

   }
  
  .espacio-contacto { grid-area: espacio-contacto; }


  .grids-inspiracion {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 50px 100px 1800px 100px 250px;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "space"
      "titulo-inspiracion"
      "fotos-inspiracion"
      "space1"
      "footer";
  }
  
  .header { grid-area: header; }
  
  .space { grid-area: space; }
  
  .titulo-inspiracion { grid-area: titulo-inspiracion;
  
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
   }
  
  .fotos-inspiracion { grid-area: fotos-inspiracion;
    display: flex;
    flex-flow: wrap row;
   align-items: center;
    align-content: space-around;
    justify-content: center;
     }

    .fotos-inspiracion img{
      margin: 1%;
  
    }

    #fotos4{
      transition: all 300ms;
      position: relative;
      }
      
      #fotos4 img:hover{
      transform: scale(1.15);
      }
  
  .space1 { grid-area: space1; }
  
  .footer { grid-area: footer; }
  
  